/* auto-scale ALL images */
img {
    max-width: 100%;
    height: auto;
}

/* page top */
#header {
    margin-top: 40px;
}

/* list style general */
/*
ul {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 15px;
}
*/


li {
  list-style: disc;
  margin-left: 30px;
}

li li {
  margin-left: 0px;   
}

ol {
    margin-left: 0px;
}
ol li {
    list-style: decimal;
}

a, a:visited {
   color: #489352;
   text-decoration: none;
}

a:hover, a:focus { 
   color: #000; 
}


/* list style for topmenu */
#topnav ul {
    margin: 0 0 0 0;
}

#topnav li {
    /* font-family: "Georgia","Times New Roman",serif; */
    list-style: none; 
    display: inline;
    margin: 0 15px 0 0;
}

#topnav a {
    color: #555;
    text-decoration: none;
}

#topnav a:hover {
    color: #222;
}


/* list style for sidemenu */ 
#nav ul {
    margin-left: 0px;
}

#nav li {
    /* font-family: "Georgia","Times New Roman",serif; */
    list-style: none;
    margin-bottom: 10px;
    margin-left: 0px;
}
 
#nav a {
    color: #555;
    text-decoration: none;
}
 
#nav a:hover {
    color: #222;
}

/* source code blocks */
pre {
  margin-bottom: 20px;
  color: rgb(10, 10, 10);
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(214, 214, 214);
  /*
  font-size: 13px;
  */
  /*
  line-height: 19px;
  */
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px 3px 3px 3px;
}

body code, li code {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  margin: 0px 2px;
  padding: 0px 5px;
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(248, 248, 248);
  border-radius: 3px 3px 3px 3px;
}

pre code, pre tt {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: medium none;
}

/* horizontal line */
hr { 
  border: solid #ddd; 
  border-width: 1px 0 0; 
  clear: both; 
  margin: 10px 0 10px; 
  height: 0; 
}

hr.large {
  border: none;
  height: 8px;
  background: #ebebeb;
  margin: 50px 0; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px 10px 9px;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
}

table td {
    vertical-align: top;
    border-top: solid 1px #ddd;
}

table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
}

table.condensed th, table.condensed td {
    padding: 5px 5px 4px;
}

table.bordered {
    border-collapse: separate;
    border: solid 1px #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

table.bordered th + th,
table.bordered th + td,
table.bordered td + td {
    border-left: solid 1px #ddd;
}

.zebra-striped tbody tr:nth-child(odd) td,
.zebra-striped tbody tr:nth-child(odd) th {
    background: #f5f5f5;
}

/* blockquote */
blockquote {
    padding-top: 0;
    padding-left: 30px;
    border-left: none;
}
blockquote p {
    line-height: 21px;
    font-size: 14px;
    font-style: normal;
    color: #444;
}
