<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>The lavaan Project</title>
	<meta name="description" content="lavaan latent variable analysis">
	<meta name="author" content="Yves Rosseel">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/skeleton_base.css">
	<link rel="stylesheet" href="/css/skeleton_skeleton.css">
	<link rel="stylesheet" href="/css/skeleton_layout.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/friendly.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<!--link rel="shortcut icon" href="images/favicon.ico"-->
	<!--link rel="apple-touch-icon" href="images/apple-touch-icon.png"-->
	<!--link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"-->
	<!--link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"-->

    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1RJQRK0HEK"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

      gtag('config', 'G-1RJQRK0HEK');
	</script>

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->
	<div id="header" class="container">
        <div class="four columns">
			<h1 class="remove-bottom">lavaan</h1>
            <h6>latent variable analysis</h6>
		</div>
        <div id="topnav" class="twelve columns">
            <h1 class="remove-bottom">&nbsp;</h1>
            <ul>
            <li><a href="/index.html">About lavaan</a></li>
            <li><a href="/tutorial/index.html">Tutorial</a></li>
            <!--li><a href="/manual/index.html">User Manual</a></li-->
            <li><a href="/resources/index.html">Resources</a></li>
            <li><a href="/history/index.html">Version History</a></li>
            </ul>
        </div>
    </div><!-- container -->
 
    <div class="container">
		<div id="nav" class="three columns">
            <hr />
            {% include sidemenu.html %}
		</div>
		<div class="thirteen columns">
           <hr />
           {{ content }}
           <hr />
		</div>

	</div><!-- container -->

<!-- End Document
================================================== -->
</body>
</html>
